name: unit-tests

on:
    push:
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '18'

            - name: Install
              run: npm ci || npm i

            - name: Run tests with coverage
              run: npm run test:coverage

            - name: Upload junit.xml
              uses: actions/upload-artifact@v4
              with:
                  name: junit
                  path: junit.xml

            - name: Upload lcov.info
              uses: actions/upload-artifact@v4
              with:
                  name: coverage
                  path: coverage/lcov.info
